.body {
    margin: 0;
    padding: 0;
    background-color: rgb(226, 220, 220);
}
.header {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-bottom-color: brown;
}
.header_name {
    color: blue;
}
.header_info {
    color: rgb(75, 71, 71);
}
a{
    text-decoration: none;
    margin-left: 10px;
    color: rgb(75, 71, 71);
}
a:hover {
    color: black;
}

h1, h3{
    color: rgb(75, 71, 71); 
}

.content {
    flex-direction: row;
    display: flex;
    align-items: center;
}
.content_left {
    margin-right: 80px;
}
.content_right {
    
}
.content_right-box {
    border-width: 0 0 0 1px;
    border-style: solid;
    border-bottom-color: brown;
    padding-left: 100px;
}
.content-box-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button {
    text-align: center;
}